$primary-color: #000000;
$secondary-color: #f1eee8;
$tertiary-color:  #63d297;
$accent-color: #B2DCC5;


@font-face {
    font-family: 'Michroma-Regular';
    src: url('../fonts/Michroma/Michroma-Regular.ttf') format('truetype');
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}

.title-fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
    animation-delay: 1.25s;
}

.pre-slide-up {
    opacity: 0;
    -webkit-transform: translate3d(0, 5vh, 0);
    transform: translate3d(0, 5vh, 0);
}

.pre-slide-right {
    opacity: 0;
    -webkit-transform: translate3d(2.5vw, 0, 0);
    transform: translate3d(1vw, 0, 0);
}
.pre-slide-left {
    opacity: 0;
    -webkit-transform: translate3d(-2.5vw, 0, 0);
    transform: translate3d(-1vw, 0, 0);
}

.post-slide {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: opacity 0.3s ease, transform 1s ease;
}

body, footer {
    font-family: Arial, Helvetica, sans-serif;
    background-color: $primary-color;
    font-size: calc(16px + 0.390625vw);
    color: $secondary-color;
    overflow-x: hidden;
}

h2 {
    font-weight: bold;
    margin: 0;
    padding: 0 0 0.5vh 0;
}

p {
    font-weight: lighter;
    color: $secondary-color;
}

.navbar {
    background-color: $primary-color;
    opacity: 1;
    transition: opacity 0.5s;
    padding: 3vh 10vw;
    border-bottom: 2px solid $secondary-color;
    transition: padding 0.3s;
    color: $secondary-color;
}
.navbar.hidden {
    opacity: 0;
    transition: opacity 0.5s;
}

.nav-item {
    padding: 0 1vw;
}
#logo {
    height: 100px;
}
.vid-container {
    position: relative;
    width: 100%;
    height: 95vh;
    overflow: hidden;
}

video {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
    opacity: 0.65;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: $secondary-color;
    width: 60%;
}

.overlay-big-text {
    transform: translate(-50%, -80%);
    font-family: "Michroma-Regular", Arial, Sans-serif;
    font-size: 2.5em;
}

.overlay-small-text {
    font-size: 1.25em;
    transform: translate(-50%, 60%);
}

.divider {
    height: 4vh;
    margin: 5vh 0;
    width: 100%;
}

.text-container {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header {
    margin-top: 0vh;
    width: 100%;
}
.header-text {
    display: flex;
    padding-left: 1vw;
    font-size: 2em;
    font-family: "Michroma-Regular", Arial, Sans-serif;
    text-align: left;
    color: $secondary-color;
}

.section-container {
    margin: 5vh 0;
    padding: 0 5vw;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
#about-header {
    margin-bottom: 10vh;
}
.about {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
}
.about-img-container {
    width: 50%;
    position: relative;
    flex: 1;
}
.about-text-container {
    width: 50%;
    flex: 1;
}
.about-img {
    position: absolute;
    min-width: 25%;
    min-height: 25%;
}
#drone-img {
    top: 0;
    left: -26vw;
    width: 50vw;
    z-index: 1;
}
#cnc-img {
    top: 20vh;
    left: 10vw;
    z-index: 2;
    height: 60vh;
}
#mri-img {
    top: 0;
    right: -26vw;
    width: 50vw;
    z-index: 1;
}

#wind-img {
    top: 20vh;
    right: 10vw;
    z-index: 2;
    height: 60vh;
}
.about-text {
    font-size: 2em;
    padding: 5vh 0;
}
.about-text-container, .about-img-container {
    min-width: 320px;
    padding-top: 14vh;
}
#right-about {
    text-align: left;
    justify-content: center;
    vertical-align: middle;
}
#left-about {
    text-align: right;
    justify-content: center;
    vertical-align: middle;
}


.value-hdg {
    min-height: 7.5vh;
}

#values {
    color: $secondary-color;
}

.value, .leader {
    padding: 1vh;
    margin: 2vh;
    padding-left: 3vh;
    margin-top: 5vh;
    flex: 1;
    text-align: left;
    min-width: 320px;
}

.value {
    border-left: 7.5px solid $tertiary-color;
}

hr {
    margin-top: 10vh;
    border: 0;
    height: 0.3vh;
    background-color: $tertiary-color;
    display: block;
    margin: 1vh auto;
    width: 80%;
}

.leader {
    max-width: 30vw;
    margin-top: 0;
    padding-bottom: 7.5vh;
    padding-left: 0;
}

.leader-title {
    font-size: 1em;
    padding: 0 0 0.5vh 0;
    margin-bottom: 0.5vh;
}

.leader-bio {
    color: $primary-color;
}

#leaders {
    background-color: $secondary-color;
    color: $primary-color;
    padding: 10vh 5vw;
}

#vulcan-leaders {
    margin-top: 10vh;
    padding-top: 0;
}

#vulcan-leaders h1 {
    color: $primary-color;
}

.ldr-img-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2.5vw;
}
.ldr-image {
    height: 40vh;
    margin: 0 auto;
}

#form-container {
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contact-info {
    max-width: 60vw;
    margin: 0 auto;
    border-top: 1px solid $secondary-color;
    font-size: 0.5em;
    text-align: center;
    padding: 10px 0;
}

.contact-info p {
    margin: 0;
}

#contact-email {
    color: white;
}

#contact-email:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 767px) {

    .overlay-text {
        width: 90%;
    }
    .overlay-big-text {
        transform: translate(-50%, -90%);
    }
    .overlay-small-text {
        transform: translate(-50%, 60%);
    }
    .header-text {
        padding: 0 auto;
        text-align: center;
    }
    .about-img {
        position: relative;
    }
    #right-about, #left-about {
        justify-content: center;
        text-align: center;
    }
    #about-reverse {
        flex-wrap: wrap-reverse;
    }
    .about-img-wide {
        display: none;
    }
    #cnc-img, #wind-img {
        width: 80%;
        height: auto;
        transform: none;
        top: auto;
        left: auto;
        right: auto;
    }
    .divider {
        margin: 5vh 0;
    }
    .about-text {
        padding-top: 0;
    }
    .about-img-container {
        padding: 0;
    }
    .about-text-container {
        padding: 0;
        padding-top: 5vh;
    }
    #vulcan-leaders {
        padding-bottom: 6vh;
    }
    #logo {
        height: 75px;
    }
}
