@font-face {
    font-family: 'Michroma-Regular';
    src: url('../fonts/Michroma/Michroma-Regular.ttf') format('truetype');
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.fade-in {
    opacity: 0;
    animation: fadeIn 2s ease-in-out forwards;
}
$primary-color: #292929;
$secondary-color: #2b3e56;
$tertiary-color:  #dfc6ac;

.text-container {
    background-color: black;
}
.navbar {
    background-color: black;
    opacity: 1;
    transition: opacity 0.5s;
}
.navbar.hidden {
    opacity: 0;
}
.nav-item-middle {
    border-left: 1px solid white;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
}
.vid-container {
    position: relative;
    width: 100%;
    height: 85vh;
    overflow: hidden;
}
video {
    width: auto;
    height: 100%;
    overflow: hidden;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin: 0 auto;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    color: white;
}
.overlay-big-text {
    transform: translate(-50%, -80%);
    font-family: "Michroma-Regular", Arial, Sans-serif;
    font-size: 3vw;
}
.overlay-small-text {
    font-size: 1.5vw;
    transform: translate(-50%, 60%);
}
.contact-container {
    margin-top: 20vh;
}
.form-container {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
#form {
    width: 75vh;
}

.additional-content {
    background-color: black;
    color: white;
    height: 100vh;
}
.header {
    margin-right: 20vh;
    margin-left: 20vh;
    margin-top: 20vh;
    border-bottom: 1px solid white;
}
.header-text {
    display: flex;
    justify-content: space-around;
    padding-bottom: 0.1vh;
    font-size: 3vw;
    font-family: "Michroma-Regular", Arial, Sans-serif;
}
.values-container {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
}
.value {
    padding: 1vh;
    margin: 2vh;
    padding-left: 3vh;
    margin-top: 5vh;
    flex: 1;
    font-size: 2vw;
    text-align: left;
    border-left: 1vw solid white;
    flex-wrap: wrap;
    min-width: 300px;
}
.value-text {
    font-size: 1vw;
}
@media only screen and (max-width: 767px) {
    .overlay-big-text {
        font-size: 8vw;
    }
    .overlay-small-text {
        font-size: 6vw;
    }
    .nav-item-middle {
        border-left: none;
    }
    .value-text {
        font-size: 4vw;
    }
    .value {
        font-size: 6vw;
    }
    .header-text {
        font-size: 8vw;
    }
}
